################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/Lab1/Debug
/Lab1/.vs/Lab1
/Singleton/.vs/Singleton
/Singleton/Debug
/Singleton/x64/Debug
/AbstractFactory/.vs/AbstractFactory
/AbstractFactory/x64/Debug
/Builder/.vs/Builder
/Builder/x64/Debug
/Composite/.vs/Composite
/Composite/x64/Debug
